@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(186, 221, 186);
    margin: s;
}

@keyframes transition-in-title {
    from {
        filter: opacity(0);
        font-size: 9rem;
    }
    to {
        filter: opacity(1);
        font-size: 10rem;
    }
}
.title {
    grid-area: a2;
    justify-self: center;
    align-self: center;
    color: white;
    font-family: 'Poppins', sans-serif;  
    z-index: 1;
    font-size: 10rem;
    line-break: strict;
    animation-name: transition-in-title;
    animation-duration: 800ms;
}
.img3 {
    grid-area: a2;
    width: 100vw;
    height: 100vh;  
    
}


@keyframes transition-in-shadow {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}
.shadow {
    grid-area: a2;
    background: linear-gradient(rgba(0, 0, 0, 0.719) 40%, rgba(0, 0, 0, 0) 100% );
    animation-name: transition-in-shadow;
    animation-duration: 1s;
    transition-duration: 200ms;
}



.gridWrapper {
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    grid-template-areas: 
        "as a1 na"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
}





 @keyframes transition-in-as {
    from {border-radius: 0px; 
        color: rgba(0, 0, 0, 0);
        width: 0vw; 
        }
    to {border-radius: 0px 30px 30px 0px;
        color: white;
        width: 5rem;
        }
 }

.aside {
    grid-area: as;
    width: 6rem;
    position: fixed;
    height: 9rem;
    transition-duration: 200ms;
    font-size: 3rem;
    filter: opacity(0.8);
    overflow: hidden;
    
    border-radius: 0px 0px 30px 0px;
    animation-name: transition-in-as;
    animation-duration: 100ms;
    transition-duration: 200ms;
}

.aside:hover{
    width: 35rem;
   display: block;
   line-break: auto;
   font-size: 9rem;
   border-radius: 0px;
   height: 100vh;
}

.om_oss {
    font-family: 'Poppins', sans-serif;  
    margin: 8px;
    transition-duration: 30ms;
    color: white;
}

.aside_overlay {
    position: fixed;
    position: absolute; 
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    display: flex;
    background: linear-gradient(rgba(0, 255, 0, 0) 50%, rgba(24, 37, 23, 0.747) 100% );

    justify-content: center;
    transition-duration: 140ms;
   
}

.aside_overlay:hover {
    opacity: 1;  
    color: rgb(255, 255, 255);
    line-break: strict;
}
.information {
    position: fixed;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    padding: 20px;
    margin-top: 9rem;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 2rem
}

/*
.footer {
    grid-area: fo;
    background: gray;
    background: linear-gradient(rgba(0, 255, 0, 0) 50%, rgba(24, 37, 23, 0.507) 100% );
    
} */

.innerflexwrapper {
    grid-area: na;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: end;
    position: fixed;
    height: 100vh;
    background: linear-gradient(to bottom right,rgba(0, 255, 0, 0) 50%, rgba(24, 37, 23, 0.2) 100% );
    z-index: 1;
}

@keyframes transition-in-na {
    from {border-radius: 0px; 
    margin: 0px;
    width: 0vw; 
    }
    to {border-radius: 30px;
    margin: 3px;
    width: 30rem;
    }
}

.box {
    width: 30rem;
    align-self: end;
    border-radius: 30px;
    ;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    margin: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;    
    color: white;

    animation-name: transition-in-na;
    animation-duration: 1s;
    transition-duration: 100ms;
    overflow: hidden;
    filter: opacity(0.8);
   
}

.box:hover {
    width: 40rem;
    transition-duration: 100ms;
    background: rgba(0, 0, 0, 0.25);
    text-shadow: black;
    filter: opacity(1)
}
#color1 {
    background: #95BF75;
}
#color2 {
    background: #659B5E;
}
#color3 {
    background: #556F44;
}
#color4 {
    background: #283F3B;
}

