* {
    margin: 0;
}

body {
    grid-area: he;
    background: #e9f6eb;
}


.gridWrapper {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-areas: 
        "as na na na na na dv"
        "as a1 a1 a1 a1 a1 a1"
        "as fo fo fo fo fo fo"
    ;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 6px;
}

.header {
    background: grey;
    grid-area: dv;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: chocolate;
}
.header:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.logo { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: whitesmoke;
    text-align: center;
}

.aside {
    grid-area: as;
    background: blue;
}

.article1 {
    grid-area: a1;
    background: grey;
}

.footer {
    grid-area: fo;
    background: gray;
    
}

.innerflexwrapper {
    grid-area: na;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: gray;
    
    
}
.box {
    
    border: 3px solid rgb(46, 46, 46);
    background: gainsboro;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

